.step {
    color:var(--light-blue);
    font-weight: 700;
    margin: 12px;
    font-size: 10px;
    height: 25px;
    width: 25px;
    display: flex;
    border: 1.5px solid #fff;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}

.step-description{
    color: var(--alabaster);
    font-size:8px;
    font-weight: 500;
    letter-spacing: 1px;
    display:flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.step-number{
    color: var(--pastel-blue)
}


@media screen and (max-width: 375px) {
    .step-description{
        display: none;
    }
    .step{
        margin: 8px
    }
}